@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #252827;
  color: #fff;
}

#header {
  padding: 50px;
}

#title {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}

#sub_title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#img-div {
  padding-bottom: 10px;
  background-color: #ecf0f1;
  text-align: center;
  padding-top: 15px;
  display: flex;
  position: relative;
  background-color: #93cae5;
  

}

#image {
  width: 350px;
  height: auto;
  max-width: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

#img-caption {
  text-align: center;
  color: #000;
  padding: 15px;
  font-size: 20px;
  background-color: #c6c0e0;
}

#tribute-info {
  padding: 30px;
}

#tribute-info h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 25px;
  letter-spacing: 1.5px;
}

.timeline {
  border-left: 4px solid #4298C3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #424242;
  list-style: none;
  color: #D1D1D1;
  margin: 40px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.5em;
  font-size: 1.03em;
  padding: 50px;
  text-align: left;
  font-weight: 100;
  max-width: 50%;
}

.event {
  border-bottom: 1px dashed #D1D1D1;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.event:before, .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.event:before {
  left: -217.5px;
  color: #D1D1D1;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.event:after {
  box-shadow: 0 0 0 4px #4298C3;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

#quote {
  text-align: center;
  padding-bottom: 15px;
}

#footer {
  text-align: center;
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
}
